.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  &.on {
    cursor: none;
  }
  & > header {
    margin-bottom: 32px;
  }
}
.btn-group {
  display: grid;
  width: calc(50px * 4 + 20px * 3);
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  row-gap: 20px;
  &.on {
    cursor: none;
  }
}
.cursor-btn {
  border-radius: 10px;
  background-color: #ffff;
  border: 1px solid rgb(58, 58, 58);
  width: 50px;
  height: 50px;
  padding: 0;
  cursor: inherit;
  &:hover {
    background-color: #ebe9e9c8;
  }
  img {
    width: 100%;
    height: 100%;
  }
  &.selected {
    border-color: rgb(3, 95, 255);
  }
}

.cursor-img {
  width: 24px;
  height: 24px;
  z-index: 10;
}
