@import url("https://fonts.googleapis.com/css2?family=Caprasimo&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Caprasimo, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

$img-size: 60px;
$mobile-img-size: calc(80vw / 5);
$mobile-item-gap: calc($mobile-img-size / 3);
$min-img-size: calc((320px - 90px) / 5);
$min-item-gap: calc($min-img-size/3);
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  &.on {
    cursor: none;
  }
  & > header {
    font-family: Caprasimo;
    font-size: 24px;
    margin-bottom: 32px;
    text-align: center;
    width: 100%;
  }
}
.btn-group {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  row-gap: 20px;
  &.on {
    cursor: none;
  }
}
.cursor-btn {
  border-radius: 10px;
  background-color: #ffff;
  border: 3px dashed rgb(159, 158, 158);
  width: $img-size;
  height: $img-size;
  padding: 0;
  cursor: inherit;
  &:hover {
    background-color: #ebe9e9c8;
  }
  img {
    width: 100%;
    height: 100%;
  }
  &.selected {
    border: 4px solid rgb(70, 70, 70);
  }
}

.cursor-img {
  width: 28px;
  height: 28px;
}

@media screen and (max-width: 500px) {
  .container {
    box-sizing: border-box;
    width: calc(100vw - 28px);
    & > header {
      font-size: 14px;
    }
  }

  .btn-group {
    column-gap: $mobile-item-gap;
    row-gap: $mobile-item-gap;
  }
  .cursor-btn {
    width: $mobile-img-size;
    height: $mobile-img-size;
  }
}
@media screen and (max-width: 320px) {
  .container {
    width: calc(320px - 28px);
  }

  .btn-group {
    column-gap: $min-item-gap;
    row-gap: $min-item-gap;
  }
  .cursor-btn {
    width: $min-img-size;
    height: $min-img-size;
  }
}
